@media(max-width:767px){
   

  
    a{
        color: white;
    }
    section{
        display: block;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }

    img:not(.logo){
        width: 100px;
        height: 100px;
    }
    .vertical-text, .logo{
        display: none;
    }
    h3,p:not(.foot){
        padding-left: 0px;
        font-size: small;
        text-align: left;
    }
    #logout{
        color: black;
    }
    
    p:nth-child(4){ 
    color: white;
    background-color: orange;
    margin: 0;

 }
.foot{
        margin-top: 5%;
        padding: 0;
        color: white;
}
 
}