body{
    display: grid;
    grid-template:  auto 1fr 0.5fr/ auto auto;
    height: 100vh;
    margin: 0;
    padding: auto;
}

header {
    background-color: beige;
    grid-column: 1/5;



}


nav {
    background-color: black;
    padding: 0.5rem;
    


}

.navigation ul {
    display: flex;
    justify-content: space-between;
    

}

.navigation a:hover {
    background-color: orange;
    text-decoration: underline;

}

a {
    color: white;
    padding: 2rem;
    text-decoration: none;
    
}
p{
    padding: 1rem;
}

main {
    background-color: coral;
    grid-column: 1/4;
    padding: 1rem;
}

aside {
    background-color: gold;
    grid-column: 4/5;
    padding: 1rem;
}

footer {
    background-color: antiquewhite;
    grid-column: 1/5;
    text-align: center;
    padding: 1rem;
}