
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    max-width: 85%; 
    margin: auto;
}
#course-title{
    text-align: center;
    color: white;
    
}
header span{
    display: block;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    

}
li{
    flex: 1 1 auto;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
main h1{
    grid-column: 1/4;
    
}
.card-1, .card-2{
    grid-column: 1/2;
    border: 1px solid ;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  
}
.card-2{
    grid-column: 2/3;
}
footer{
    text-align: center;
    background-color:  #8ecae6;
    color:  aliceblue;
   
}
h1, h2{
    background-color: #8ecae6;
    color: white;
    text-align: center;
   
   
}

nav a{
    color: #8ecae6;
    
    
    
}
a:hover{
    background-color: white;
    padding: 0.5rem;
}
img{
    float: left;
    margin-right: 15px;
    margin-left: 1px;
    margin-bottom: 15px;
    width: 100px;
}
nav{
    background-color: aliceblue;
    padding: 0.25rem;

}
@media  (max-width: 767px){
    .card-1, .card-2{
        grid-column: 1/4;
        
  
    }
}
    .card-2{
        grid-column: 1/4;
    }