
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  max-width: 80%;
 
  margin: auto;
}
#course-title{
    text-align: center;
    color: white;
    
}
header span{
    display: block;
}

.menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    

}
li{
    flex: 1 1 auto;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
main h1{
    grid-column: 1/4;
    
}
.card-1, .card-2{
    grid-column: 1/2;
    border: 1px solid ;
    border-radius: 1rem;
   /* margin-right: 10px;
    padding: 10px;
*/   
}
.card-2{
    grid-column: 2/3;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
}
h1, h2{
    background-color: #8ecae6;
    color: white;
    text-align: center;
   
   
}

nav a{
    color: #8ecae6;
    
    
}
a:hover{
    background-color: black;
    /*padding: 0.5rem;*/
}
img{
    float: left;
    margin-right: 15px;
    margin-left: 1px;
    margin-bottom: 15px;
}
