
body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    max-width: 85%;
    margin: 0 auto;
    
    
}
h1{
    padding-left: 12px;
}
header{
    display: grid;
    background-color: aliceblue;
      
}
.head{
    grid-column: 1/2;
}
nav{
    grid-column: 2/3;
    padding: 0.5rem;   
     
    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
       
}
nav li{
    flex: 1 1 auto;    

}
nav a:hover{
    background-color: black;
    padding: 0.5rem;
    border-radius: 12px;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    place-items: center;
    gap: 30px 100px;
}

section{
    border-radius: 12px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3) ;

}

img{
    width: 350px;
    height: 250px;
    border-radius: 12px 12px 0 0 ;

}

main h2{
    text-align: center;
}

  p, h3{
   padding-left: 12px; 
  }
footer{
    text-align: center;
    background-color: aliceblue;
}
figcaption{
    text-align: center;
}
a{
    text-decoration: none;
    
}


div{
    display: none;
    cursor: pointer;
    
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    }
    .nav-branding{
        font-size: 1rem;
    }
    .nav-link{
        transition: 0.5s ease-in-out;
    }
    p{
        color: gray;
    }
   
