@media(max-width:767px){
    .hamburger{
        display: block;
        padding: 1rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:absolute;
        background-color: rgb(63, 58, 58);
        left: -120% ;
        top: 70px;
        gap: 0;
        flex-direction: row;
        text-align: center;
        transition: 0.3s;  
        width:85%;  
   
    }
    .nav-item{
        margin: 16px 0;

    }
    .nav-menu.active{
        left: 0px;
    }

    section{
        grid-column: 1/2;
    }
    a{
        color: white;
    }
}